<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<body>
    <header th:replace="~{fragments :: header}"></header>
    <div th:replace="~{fragments :: ingredientNav}"></div>
        <form method="post">
            <div class="form-group">
                <label>Ingredient Name:
                    <input th:field="${ingredient.name}" class="form-control">
                </label>
                <p class="error" th:errors="${ingredient.name}"></p>
            </div>
            <div class="form-group">
                <label> Quantity:
                    <input th:field="${ingredient.quantity}" class="form-control">
                </label>
                <p class="error" th:errors="${ingredient.quantity}"></p>
            </div>
<!--            <div class="form-group">-->
<!--                <label> Found at :-->

<!--                        <ul>-->
<!--                            <li th:each="store : ${stores}">-->
<!--                                <input type="checkbox" name="${store}" th:text="${store.name}" th:value="${store.id}" />-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                </label>-->

<!--                    <p class="error" th:errors="${ingredient.store.name}"></p>-->
<!--            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </form>
</body>
</html>